In [1]:
def mygenerator():
    print('First item')
    yield 10

    print('Second item')
    yield 200

    print('Last item')
    yield 30

In [2]:
gen = mygenerator()

In [6]:
next(gen)

StopIteration:

In [446]:
next(gen)

Second item

200

In [447]:
next(gen)

Last item

30

In [7]:
squres = [x*x for x in range(5)]

In [8]:
print(next(squres))

TypeError: 'list' object is not an iterator

In [9]:
import math
([x*x for x in range(5)])

[0, 1, 4, 9, 16]

In [10]:
s=[x**2 for x in range(10)]

In [11]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
i=3

In [14]:
v=[x**i for x in range (10)]

In [15]:
v

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [16]:
m=[x for x in v if x%2==0]

In [17]:
m

[0, 8, 64, 216, 512]

In [18]:
z=[x**10 for x in s if x%2==0]

In [19]:
z

[0, 1048576, 1099511627776, 3656158440062976, 1152921504606846976]

In [20]:
numbers =range(100)

In [21]:
numbers

range(0, 100)

In [22]:
type(numbers)

range

In [23]:
i=list(numbers)

In [25]:
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [26]:
k=[x for x in i if x%2==0]

In [28]:
print(k)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [29]:
a=[1,2,3,4,5,6]
b=[2,3,4,5,6,7,8]
c=[a,b]

In [30]:
c

[[1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7, 8]]

In [31]:
d=[i for x in c for x in i]

In [36]:
[item for subl in i for item in subl]

TypeError: 'int' object is not iterable

In [37]:
k=[i for x in c for i in x]

In [38]:
k

[1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7, 8]

In [40]:
import collections
collections.namedtuple?

In [41]:
collections

In [42]:
import numpy as np

In [43]:
np.*mean*?

In [ ]:
np

In [44]:
%history

def mygenerator():
    print('First item')
    yield 10

    print('Second item')
    yield 200

    print('Last item')
    yield 30
gen = mygenerator()
next(gen)
next(gen)
next(gen)
next(gen)
squres = [x*x for x in range(5)]
print(next(squres))
import math
([x*x for x in range(5)])
s=[x**2 for x in range(10)]
s
v=[x**i for x in range (10)]
i=3
v=[x**i for x in range (10)]
v
m=[x for x in v if x%2==0]
m
z=[x**10 for x in s if x%2==0]
z
numbers =range(100)
numbers
type(numbers)
i=list(numbers)
i
print(i)
k=[x for x in i if x%2==0]
k
print(k)
a=[1,2,3,4,5,6]
b=[2,3,4,5,6,7,8]
c=[a,b]
c
d=[i for x in c for x in i]
item for subl in l for item in subl]
{item for subl in l for item in subl]
[item for subl in l for item in subl]
[item for subl in l for item in subl]
[item for subl in i for item in subl]
k=[i for x in c for i in x]
k
import collections
collections.namedtuple?
import collections
collections.namedtuple?
collections
import numpy as np
np.*mean*?
%history

In [45]:
%run "C:\users\fibonacci.py"

ERROR:root:File `'C:\\users\\fibonacci.py'` not found.

In [46]:
a = 2
b = 4
c = 5

s = a + b + c

avg = s / 3

print ('average = %s',(avg))

average = %s 3.6666666666666665

In [47]:
print ('average = %s'%(avg))

average = 3.6666666666666665

In [48]:
my_string="python"

In [51]:
my_string.capitalize()
my_string

'python'

In [52]:
my_string.capitalize()

'Python'

In [53]:
my_string.upper

In [54]:
my_string.upper()

'PYTHON'

In [55]:
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [56]:
my_string.count('p')

1

In [57]:
my_string[2]

't'

In [58]:
my_string[0]

'p'

In [59]:
my_string[:]

'python'

In [60]:
my_string[1::3]

'yo'

In [61]:
a=2
b='3'

In [62]:
c=str(a)+b

In [63]:
c

'23'

In [64]:
format = '%.2f %s is $%d'

In [65]:
format %(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos is $1'

In [66]:
string = "This is python"
print (string.count('i'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

In [68]:
num = int(input("please enter a number:"))
print (type(num))
print (num)

please enter a number:21
<class 'int'>
21

myname=input('enter your name')
mygender=input('enter your gender')
print("my name{},my gender{}".format{myname,mygender})

In [69]:
myname=input("enter your name")
mygender=input("enter your gender")

enter your namenarayanareddy
enter your gendermale

In [70]:
print ("my name is {} and my gender is {}".format(myname,mygender))

my name is narayanareddy and my gender is male

In [71]:
name='nanireddy'

In [72]:
'i' not in name

False

In [73]:
import math

In [74]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [75]:
math.tan(4)

1.1578212823495777

In [76]:
math.sin(4)

-0.7568024953079282

In [77]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ntadi\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\ntadi\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\ntadi\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\ntadi\appdata\roaming\python\python37\site-packages (from pandas) (1.18.2)
Requirement already satisfied: six>=1.5 in c:\users\ntadi\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.0.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ntadi\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [78]:
import pandas

In [79]:
from datetime import datetime,date,time

In [80]:
date1=datetime(2022,2,2,2,2,2)

In [81]:
print(date1.day)

2

In [82]:
a = datetime.strptime('20240516','%Y%m%d')

In [83]:
a

datetime.datetime(2024, 5, 16, 0, 0)

In [84]:
time=datetime.now()

In [85]:
time

datetime.datetime(2022, 3, 31, 16, 41, 28, 314592)

In [86]:
from datetime import datetime, timedelta
s = '2017/02/28'
date = datetime.strptime(s, "%Y/%m/%d")          # strptime : Return a date representing the string
print(date)
modified_date = date + timedelta(days=2)
#datetime.strftime(modified_date, "%Y/%m/%d")     # strftime : Return a string representing the date

print(modified_date)

2017-02-28 00:00:00
2017-03-02 00:00:00

In [87]:
from datetime import datetime, timedelta
s='2022/03/22'
date=datetime.strptime(s,"%Y/%m/%d")
print(date)

2022-03-22 00:00:00

In [88]:
mod_date=date+timedelta(days=3)
mod_date

datetime.datetime(2022, 3, 25, 0, 0)

In [89]:
print(mod_date)

2022-03-25 00:00:00

In [92]:
oneday=timedelta(days=1)

In [93]:
print(oneday)

1 day, 0:00:00

In [94]:
!pip install monthdelta

Requirement already satisfied: monthdelta in c:\users\ntadi\anaconda3\lib\site-packages (0.9.1)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.0.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ntadi\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [95]:
from monthdelta import monthdelta

In [96]:
s='2022/7/23'
date=datetime.strptime(s,'%Y/%m/%d')
print(date)
mod_date=date+monthdelta(1)
datetime.strftime(mod_date,"%Y/%m/%d")
print(mod_date)

2022-07-23 00:00:00
2022-08-23 00:00:00

In [97]:
from monthdelta import monthdelta
s = '2016/06/30'
date = datetime.strptime(s, "%Y/%m/%d")
print(date)
modified_date = date + monthdelta(-1)
datetime.strftime(modified_date, "%Y/%m/%d")

print(modified_date)

2016-06-30 00:00:00
2016-05-30 00:00:00

In [98]:
n='narayana'
k=list(n)

In [99]:
k

['n', 'a', 'r', 'a', 'y', 'a', 'n', 'a']

In [100]:

''.join(k)

'narayana'

In [101]:
z

[0, 1048576, 1099511627776, 3656158440062976, 1152921504606846976]

In [102]:
k.sort(reverse=True)

In [103]:
print(k)

['y', 'r', 'n', 'n', 'a', 'a', 'a', 'a']

In [104]:
len(k)

8

In [105]:
max(k)

'y'

In [106]:
min(k)

'a'

In [107]:
k=[i for i in range(10)]

In [108]:
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
k.append('fig')

In [110]:
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'fig']

In [111]:
k.insert(3,'fig')

In [112]:
k

[0, 1, 2, 'fig', 3, 4, 5, 6, 7, 8, 9, 'fig']

In [113]:
k.remove('fig')

In [114]:
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'fig']

In [115]:
k.pop()

'fig'

In [116]:
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
num1=int(input("enter number1:"))
num2=int(input('enter number2:'))
num3=int(input('enter number3:'))
if num1>num2 and num1>num3:
    print('{} is greater than {} and {}'.format(num1,num2,num3))
elif num2>num1 and num2 > num3:
    print('{} is greater than {} and {}'.format(num2,num1,num3))
elif num3>num1 and num3 >num2:
    print('{} is greater than {} and {}'.format(num3,num1,num2))
else:
    print('{},{} and {} are equal'.format(num1,num2,num3))

enter number1:2
enter number2:2
enter number3:2
2,2 and 2 are equal

In [118]:
my_string="python"

for i in my_string:
    print (i ,end=",")

p,y,t,h,o,n,

In [119]:
d1 = {'Hyd': 1234, 'Mum': 1235}
d2 = {'Blr': 1236, 'Delhi': 1237, 'Hyd':1999}
d1.update(d2)
print (d1)

{'Hyd': 1999, 'Mum': 1235, 'Blr': 1236, 'Delhi': 1237}

In [120]:
d = {}
d["HYD"] = 1234
d["VZG"] = 1235
d["BZA"] = 1246
d["KMM"] = 1255
for x in d:
    print (x,d[x])

HYD 1234
VZG 1235
BZA 1246
KMM 1255

In [121]:
def my_fun():
    a=1+2
    return a
my_fun()

3

In [122]:
def my_func():  # optional parameters
    
    a = 1+2

my_func()

In [123]:
b=my_fun()
c=b+1
c

4

In [124]:
t = 0 

def my_func():
    x = 1
    y = 1
    z = 0
    print (locals())
    print (id(x))
    return x

# Main program
# calling the function
a = my_func()
print (id(a),a)
print(x)

{'x': 1, 'y': 1, 'z': 0}
140715977843088
140715977843088 1
KMM

In [125]:
# Local variable is given higher precedence than global variables inside functions.

# Function
x = 10         # global variable
def my_func():
    x = 1      # local variable
    print (locals())
    return x

# Main Program
#print ("global value => x:{},my_func:{}".format(globals()['x'],globals()['my_func']))
print ('my_func' in globals())
print (my_func()) # 1
print (x)

True
{'x': 1}
1
10

In [126]:
x=10

In [127]:
print ('my_func' in globals())
print (my_func()) # 1
print (x)

True
{'x': 1}
1
10

In [128]:
print ('my_func' in globals())

True

In [129]:
print(my_func())

{'x': 1}
1

In [130]:
print(x)

10

In [131]:
z=10
def my_fun():
    print(locals())
    return z
print(z)

10

In [132]:
my_fun()

{}

10

In [133]:
balance = 0

# Function
def deposit():
    global balance
    balance = 1
    balance = balance + 1000
    return balance

# Main program
print (deposit())   

print(balance)

1001
1001

In [134]:
def changelist(mylist):
    mylist.append([1,2,3,4,5])
    print(mylist)
    return 
mylist=[1,2,3,4]
changelist(mylist)
print(mylist)

[1, 2, 3, 4, [1, 2, 3, 4, 5]]
[1, 2, 3, 4, [1, 2, 3, 4, 5]]

In [135]:
def changeme( mylist ):
#"This changes a passed list into this function"
   mylist.append([1,2,3,4])
   print ("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [136]:
# *,**,*args,**kwargs

def my_func(a,b,c):
    return a + b + c

my_list = [11,22,33] # a = my_list[0] ...
my_new  = ['today','is','mon']
my_list1 = [11,22,33,44]
my_list2 = [11,22]

In [137]:
print (my_func(*my_list))

66

In [138]:
def my_fun(a,b,c):
    return (a*b)*c
my_list=[1,3,2]
my_new=[22,22,13,43]
my_list1=[2,4,5]
my_list2=[3,2,5]

In [494]:

print (my_func(my_new,my_list1,my_list2))

[22, 22, 13, 43, 2, 4, 5, 3, 2, 5]

In [495]:
t={"t":'t',"d":'d'}

In [496]:
t

{'t': 't', 'd': 'd'}

In [497]:
t.update({1:'t','t':1})

In [498]:
t

{'t': 1, 'd': 'd', 1: 't'}

In [499]:
 x=10

In [500]:
print(x++)

SyntaxError: invalid syntax (<ipython-input-500-700c532b6a91>, line 1)

In [501]:
print(++x)

10

In [502]:
print(--10)

10

In [503]:
x=30 if 10<20 else 40

In [504]:
x

30

In [505]:
a=[1,2,3,4,5,6]

In [506]:
b=[1,2,3,4,5,6]

In [507]:
id(a)

1886042145736

In [508]:
id(b)

1886042182984

In [509]:
a==b

True

In [510]:
a is b

False

In [511]:
a='narayanareddy'
b='narayanareddy'
id(a),id(b)

(1886041786672, 1886041786672)

In [512]:
a is b

True

In [513]:
a=b

In [514]:
'na' in a

True

In [515]:
'nb' in a

False

In [516]:
a.upper()

'NARAYANAREDDY'

In [517]:
b=a.upper()

In [518]:
c=list(a)

TypeError: 'dict_items' object is not callable

In [519]:
c

4

In [520]:
''.join(c)

TypeError: can only join an iterable

In [521]:
''.join(a)

'narayanareddy'

In [522]:
d=tuple(b)

In [523]:
d

('N', 'A', 'R', 'A', 'Y', 'A', 'N', 'A', 'R', 'E', 'D', 'D', 'Y')

In [524]:
e=set(b)

In [525]:
e

{'A', 'D', 'E', 'N', 'R', 'Y'}

In [526]:
d.count(n)

0

In [527]:
d.count('N')

2

In [528]:
(10+20)*10/2

150.0

In [531]:
import math as m

In [532]:
r=int(input("enter radius of pi"))
area=m.pi*r**2
area

enter radius of pi2

12.566370614359172

In [533]:
#x=raw_input("enter the data")
y=input("enter data")

enter data222

In [534]:
d=int(input())
c=int(input())
d

22
qq

ValueError: invalid literal for int() with base 10: 'qq'

In [535]:
d+c

26

In [536]:
eno=int(input('enter emp number'))
ename=input('enter e name')
esal=float(input('enter e sal'))
married=bool(input('enter marriage status :[True/False]'))
l=[eno,ename,esal,married]

enter emp number

ValueError: invalid literal for int() with base 10: ''

In [537]:
l

NameError: name 'l' is not defined

In [538]:
k=input('enter number please'.split(' '))
j=list(k)

['enter', 'number', 'please']

TypeError: 'dict_items' object is not callable

In [539]:
j

22

In [540]:
a,b=(int(x) for x in input('enter values').split())

enter values

ValueError: not enough values to unpack (expected 2, got 0)

In [541]:
a+b

'narayanareddyNARAYANAREDDY'

In [542]:
a,b=(float(i) for i in input('enter 2 values by , seperator').split(','))

enter 2 values by , seperator

ValueError: could not convert string to float:

In [ ]:
a,b

In [ ]:
type(_)

In [ ]:
a,b=(eval(i) for i in input('enter 2 numbers').split(','))

In [ ]:
type(a)

In [ ]:
a

In [ ]:
a=0
b=0
pin='1234' 
while(a==0 and b<=2):
    k=input('enter pin')
    if k==pin:
        print('sucessfull now you are all set to access')
        a=1
    else :
        print('wrong please try again')
        b+=1
        if(b>2):
            print('you reaches out of limit')

In [ ]:
t='enter value'

In [ ]:
s=eval(t)

In [ ]:
 s

In [ ]:
type(s)

In [ ]:
x=eval(input('narayanareddy'))

In [ ]:
x

In [37]:
from sys import argv

In [38]:
type(argv)

list

In [42]:
list=eval(input('enter values'))

enter values[1,2,3,4,5]

In [43]:
type(list)

list

In [44]:
list

[1, 2, 3, 4, 5]

In [48]:
a,c,b=1,2,3

In [52]:
print(a,b,c ,sep=':')

1:3:2

In [66]:
s=int(input('enter number of lines'))
for i in range(1,s+1):
    for j in range (1,i+1):
        print(j,end='')
    print()

enter number of lines22
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213
1234567891011121314
123456789101112131415
12345678910111213141516
1234567891011121314151617
123456789101112131415161718
12345678910111213141516171819
1234567891011121314151617181920
123456789101112131415161718192021
12345678910111213141516171819202122

In [67]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
n=[1,1,22,2,3,4]

In [69]:
n.append(9)

In [70]:
n

[1, 1, 22, 2, 3, 4, 9]

In [73]:
n.append(9)

In [74]:
n

[1, 1, 22, 2, 3, 4, 9, 9, 9]

In [75]:
n.insert(9,1)

In [76]:
n

[1, 1, 22, 2, 3, 4, 9, 9, 9, 1]

In [78]:
n.insert(20,1)

In [79]:
n

[1, 1, 22, 2, 3, 4, 9, 9, 9, 1, 1]

In [80]:
n.insert(9,2)

In [81]:
n

[1, 1, 22, 2, 3, 4, 9, 9, 9, 2, 1, 1]

In [82]:
n.remove(9)

In [83]:
n

[1, 1, 22, 2, 3, 4, 9, 9, 2, 1, 1]

In [86]:
n.remove(9)

In [87]:
n.pop()

1

In [89]:
n

[1, 1, 22, 2, 3, 4, 9, 2, 1]

In [90]:
n.pop(4)

3

In [91]:
n

[1, 1, 22, 2, 4, 9, 2, 1]

In [95]:
n.pop()

1

In [98]:
n.index(1)

0

In [99]:
n

[1, 1, 22, 2, 4, 9, 2]

In [100]:
n.index(2)

3

In [101]:
n.count(1)

2

In [102]:
n.count(2)

2

In [106]:
n1=[1,2,3,(1,2,3)]

In [107]:
n.extend(n1)

In [108]:
n

[1, 1, 22, 2, 4, 9, 2, 1, 2, 3, (1, 2, 3)]

In [109]:
n2=n1.copy()

In [110]:
n2

[1, 2, 3, (1, 2, 3)]

In [111]:
n.extend(n1,n2)

TypeError: extend() takes exactly one argument (2 given)

In [112]:
n.extend(n2)

In [113]:
n

[1, 1, 22, 2, 4, 9, 2, 1, 2, 3, (1, 2, 3), 1, 2, 3, (1, 2, 3)]

In [115]:
n3=n.reverse()

In [119]:
n3=[]

In [120]:
n3.append(n)

In [121]:
n3

[[(1, 2, 3), 3, 2, 1, (1, 2, 3), 3, 2, 1, 2, 9, 4, 2, 22, 1, 1]]

In [122]:
id(n)

1886039955592

In [123]:
id(n3)

1886041571528

In [124]:
n

[(1, 2, 3), 3, 2, 1, (1, 2, 3), 3, 2, 1, 2, 9, 4, 2, 22, 1, 1]

In [125]:
n3

[[(1, 2, 3), 3, 2, 1, (1, 2, 3), 3, 2, 1, 2, 9, 4, 2, 22, 1, 1]]

In [127]:
n4=n3.copy()

In [128]:
n4

[[(1, 2, 3), 3, 2, 1, (1, 2, 3), 3, 2, 1, 2, 9, 4, 2, 22, 1, 1]]

In [129]:
id(n4)

1886041380488

In [130]:
n4.append(3)

In [131]:
n3

[[(1, 2, 3), 3, 2, 1, (1, 2, 3), 3, 2, 1, 2, 9, 4, 2, 22, 1, 1]]

In [132]:
N=[1,2,3,4]

In [134]:
N1=N.copy()

In [135]:
id(N)

1886041719816

In [136]:
id(N1)

1886041684872

In [138]:
del(N1)

In [142]:
N.clear()

In [143]:
N

[]

In [709]:
words='the quick brown fox jumps over the lazy dog'.split()

In [710]:
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [715]:
w=[[w.upper(),len(w)] for w in words]

In [717]:
print(w,end='')

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

SyntaxError: invalid syntax (<ipython-input-203-6a4fb24175d3>, line 1)

In [197]:
k

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [179]:
ab=(5,)

In [180]:
type(ab)

tuple

In [181]:
nan='narayanareddy'

In [182]:
tup=tuple(nan)

In [183]:
tup

('n', 'a', 'r', 'a', 'y', 'a', 'n', 'a', 'r', 'e', 'd', 'd', 'y')

In [187]:
k=''.join(tup)

In [188]:
k

'narayanareddy'

In [189]:
tup

('n', 'a', 'r', 'a', 'y', 'a', 'n', 'a', 'r', 'e', 'd', 'd', 'y')

In [190]:
len(tup)

13

In [192]:
tup.count('a')

4

In [195]:
tup.index('a')

1

In [215]:
t=tuple(sorted(tup,reverse=True))

In [216]:
t

('y', 'y', 'r', 'r', 'n', 'n', 'e', 'd', 'd', 'a', 'a', 'a', 'a')

In [220]:
sorted(t,reverse=True
      )

['y', 'y', 'r', 'r', 'n', 'n', 'e', 'd', 'd', 'a', 'a', 'a', 'a']

In [209]:
t

['a', 'a', 'a', 'a', 'd', 'd', 'e', 'n', 'n', 'r', 'r', 'y', 'y']

In [221]:
k=10,20,30,40

In [222]:
k

(10, 20, 30, 40)

In [223]:
type(k)

tuple

In [224]:
s=set(k)

In [225]:
s

{10, 20, 30, 40}

In [226]:
s1=set(t)

In [227]:
s1

{'a', 'd', 'e', 'n', 'r', 'y'}

# k1=range(10)

In [230]:
k1=range(10)

In [231]:
k1

range(0, 10)

In [235]:
for i in range(10):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,

In [238]:
kk=tuple(s1)

In [239]:
kk

('d', 'e', 'n', 'a', 'r', 'y')

In [242]:
s1.add(9)

In [243]:
s1

{9, 'a', 'd', 'e', 'n', 'r', 'y'}

In [244]:
s1.remove(9)

In [245]:
s1

{'a', 'd', 'e', 'n', 'r', 'y'}

In [247]:
len(s1)

6

In [248]:
len(t)

13

In [255]:
t='narayana'

In [260]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [264]:
s1.discard('a')

In [265]:
s1

{'d', 'e', 'n', 'r', 'y'}

In [306]:
d={}
d[1]='n'
d[2]='na'
d[3]='nan'
d[4]='nani'

In [299]:
d

{}

In [268]:
d[1]

'n'

In [270]:
d[2]

'na'

In [276]:
rec={}
n=int(input("enter number of students records you want to written"))
i=1
while i<=n:
    name=input('enter student name')
    marks=input('percent of marks student got')
    rec[name]=marks
    i+=1
for k in rec:
    print("\t",k,"\t\t",rec[k])

enter number of students records you want to written3
enter student namenani
percent of marks student got22
enter student nameravi
percent of marks student got23
enter student namekhasim
percent of marks student got44
	 nani 		 22
	 ravi 		 23
	 khasim 		 44

## rec

In [280]:
list=d.items()

In [283]:
list

dict_items([(1, 'n'), (2, 'na'), (3, 'nan'), (4, 'nani')])

In [285]:
for k,v in d.items():
    print(k,v)

1 n
2 na
3 nan
4 nani

In [286]:
d.pop(1)

'n'

In [297]:
d

{}

In [305]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [308]:
d1=d.copy()

In [309]:
id(d)

1886041867992

In [310]:
id(d1)

1886041523368

In [312]:
d1.setdefault(k,v)

'nani'

In [313]:
d1

{1: 'n', 2: 'na', 3: 'nan', 4: 'nani'}

In [314]:
d1[22]=44

In [315]:
d.update(d1)

In [316]:
d

{1: 'n', 2: 'na', 3: 'nan', 4: 'nani', 22: 44}

In [318]:
d1[22]=15

In [319]:
d1

{1: 'n', 2: 'na', 3: 'nan', 4: 'nani', 22: 15}

In [320]:
d

{1: 'n', 2: 'na', 3: 'nan', 4: 'nani', 22: 44}

In [321]:
d.update(d1)

In [322]:
d

{1: 'n', 2: 'na', 3: 'nan', 4: 'nani', 22: 15}

In [323]:
d.keys()

dict_keys([1, 2, 3, 4, 22])

In [324]:
d.values()

dict_values(['n', 'na', 'nan', 'nani', 15])

In [327]:
d=eval(input('enter dictionary'))
s=sum(d.values())
print(s)

enter dictionary{a:1,b:2,c:3}
6

In [328]:
n="narayanaredddysssdsojsnjshknsknknknkkn jnknknak kansankn"

In [329]:
word=input("enter some word")
k={}
for x in word:
    k[x]=k.get(x,0)+1

enter some wordnararayayanaan

In [330]:
k

{'n': 3, 'a': 7, 'r': 2, 'y': 2}

In [331]:
for k,v in k.items():
    print(k,v)

n 3
a 7
r 2
y 2

In [332]:
word1=input("enter some word")
vowels={'a','e','i','o','u'}
m={}
for x in word1:
    if x in vowels:
        m[x]=m.get(x,0)+1
for k,v in sorted(m.items()):
    print('{} occured in{}'.format(k,v))

enter some wordnarayanaredddddyyyyabasbahsbhabshvahbshab
a occured in10
e occured in1

In [337]:
list1=[1,2,3,4,56,9]

In [338]:
list2=list1

In [339]:
id(list1)

1886041872392

In [341]:
id([list2])

1886041796744

#

In [342]:
list1

[1, 2, 3, 4, 56, 9]

In [343]:
list2

[1, 2, 3, 4, 56, 9]

In [344]:
list2[1]=1000

In [345]:
list1

[1, 1000, 3, 4, 56, 9]

In [346]:
list2=list1.copy()

In [347]:
list2

[1, 1000, 3, 4, 56, 9]

In [348]:
list2

[1, 1000, 3, 4, 56, 9]

In [349]:
list2.append(2)

In [350]:
list2

[1, 1000, 3, 4, 56, 9, 2]

In [351]:
list1

[1, 1000, 3, 4, 56, 9]

In [352]:
def sum(*n):
    sum=0
    for i in n:
        sum=sum+i
    return sum
sum(1,2,3)

6

In [353]:
sum(3,3,3,3)

12

In [354]:
sum(2)

2

In [355]:
balance=0
def deposit():
    global balance=0
    sum=balance+

SyntaxError: invalid syntax (<ipython-input-355-a45d9695d639>, line 3)

In [357]:
def my_fun():
    a=1+2
    print(a)
my_fun()

3

In [358]:
def My_fun():
    a=2+3
    return a
b=My_fun()

In [359]:
b

5

In [361]:
def my_fun(a):
    a=a+1
    return a
b=my_fun(5)
print(b)

6

In [362]:
def my_fun(a,b):
    c=a+b
    return c
my_fun(1,2)

3

In [370]:
def my_fun(*a):
    print(locals())
    for i in a:
        print(a)

my_fun(1,2,3)

{'a': (1, 2, 3)}
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [371]:
my_fun(1,2,3,4,5)

{'a': (1, 2, 3, 4, 5)}
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [372]:
def myfun():
    a,b,c=1,2,3
    print(locals())
myfun()

{'a': 1, 'b': 2, 'c': 3}

In [373]:
z=10
def myfun():
    print(locals())
    return z
print(myfun())

{}
10

In [374]:
balance=0
def deposit():
    global balance
    balance=0
    balance=balance+1000
    return balance
print(deposit())
print(balance)

1000
1000

In [377]:
balance1=0
def deposit():
    balance1=0
    balance1=balance1+1000
    return balance1
def withdraw():
    balance1=0
    balance1=balance1-200
    return balance1
print(balance1)
print(deposit())
print(withdraw())

0
1000
-200

In [379]:
balance = 0
print ("global value => balance:{} before calling deposit".format(globals()['balance']))

# Function
def deposit():
    global balance
    print (locals())
    balance = balance + 1000
    return balance

def withdraw():
    global balance
    print (locals())
    balance = balance - 200
    return balance

# Main program
print (deposit())
print ("global value => balance:{} after deposit".format(globals()['balance']))
print (withdraw())
print ("global value => balance:{} after withdraw".format(globals()['balance']))

print(balance)

global value => balance:0 before calling deposit
{}
1000
global value => balance:1000 after deposit
{}
800
global value => balance:800 after withdraw
800

In [380]:
balance=0
print('global value ==> balance:{} before calling deposit'.format(globals()['balance']))

global value ==> balance:0 before calling deposit

In [382]:
def deposit():
    global balance
    print(locals())
    balance=balance+1000
    return balance
def withdraw():
    global balance
    print(locals())
    balance=balance-200
    return balance
print(deposit())
print('global value => balance:{} after deposit'.format(globals()['balance']))
print(withdraw())
print('global value => balance:{} after withdraw'.format(globals()['balance']))
print(balance)

{}
1000
global value => balance:1000 after deposit
{}
800
global value => balance:800 after withdraw
800

In [383]:
def myfun(num,default=10):
    for value in range(1,default+1):
        print('{} * {} is {}'.format(num,value,num*value)
             )

In [384]:
myfun(3,default=10)

3 * 1 is 3
3 * 2 is 6
3 * 3 is 9
3 * 4 is 12
3 * 5 is 15
3 * 6 is 18
3 * 7 is 21
3 * 8 is 24
3 * 9 is 27
3 * 10 is 30

In [390]:
def change(mylist):
    mylist.append([1,2,3,4,5])
    print('values',mylist)
    return 
mylist=[11,22,33]
change(mylist)
print(mylist)

values [11, 22, 33, [1, 2, 3, 4, 5]]
[11, 22, 33, [1, 2, 3, 4, 5]]

In [387]:
def changeme( mylist ):
#"This changes a passed list into this function"
   mylist.append([1,2,3,4])
   print ("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [395]:
def myfun(a,b,c):
    return a+b+c

In [396]:
my_list = [11,22,33] # a = my_list[0] ...
my_new  = ['today','is','mon']
my_list1 = [11,22,33,44]
my_list2 = [11,22]

In [397]:
myfun(my_new,my_list,my_list1)

['today', 'is', 'mon', 11, 22, 33, 11, 22, 33, 44]

In [398]:
myfun(*my_list)

66

In [400]:
print (my_func(*my_list2))

TypeError: my_func() missing 1 required positional argument: 'c'

In [401]:
def gmax(*args):
    big = -1
    for value in args:  # args is the variable which holds values.
        if value > big:
            big=value
    return big

print (gmax(22,33,19))

33

In [402]:
def gmax(*args):
    big=-1
    for value in args:
        if value >big:
            big=value
    return big
print(gmax(1,2,3,4))

4

In [403]:
print(gmax('nani',"yan"))

TypeError: '>' not supported between instances of 'str' and 'int'

In [404]:
def callme(**kwargs):
    if 'name' in kwargs:
        print ("your name is {}".format(kwargs['name']))
    if 'mother' in kwargs:
        print ("your mother name is {}".format(kwargs['mother']))
    if 'address' in kwargs:
        print ("your address is {}".format(kwargs['address']))
    if 'mobile' in kwargs:
        print ("your mobile num is {}".format(kwargs['mobile']))

callme(name="xyz",mother="abc")

your name is xyz
your mother name is abc

In [405]:
callme(name="xyz",mother="abc",address='erw',mobile='wddwd')

your name is xyz
your mother name is abc
your address is erw
your mobile num is wddwd

In [406]:
callme(name="xyz",address="MN",mobile=9999,mother="zyx")

your name is xyz
your mother name is zyx
your address is MN
your mobile num is 9999

In [408]:
def myfun(func,a,b):
    return func(a,b)
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
myfun(mul,a,b)

6

In [409]:
def upper():
    x = 1
    def lower():
        return x
    return lower()    # retun the local function instead of value 

print (upper()) #1

1

In [410]:
print(lower())

NameError: name 'lower' is not defined

In [411]:
sum= lambda a,b: a*b

In [412]:
sum

In [413]:
sum(3,4)

12

In [414]:
z = list(map(lambda a:a*a,[11,32,22,42,21]))     # map(funct, iterable item)   --> list, tuple , dcit , string 
z

TypeError: 'dict_items' object is not callable

In [419]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]

print([map(lambda x,y:x+y, a,b)])     # map(func)

[<map object at 0x000001B720DD6388>]

In [420]:
def fun(a):
    if a%2==0:
        c=True
    else:
        c=False
    return c
fun(2)

True

In [423]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = [filter(lambda x: x % 2, fibonacci)]
print(odd_numbers)

[<filter object at 0x000001B720DD29C8>]

In [424]:
elements = ('foo', 'bar', 'baz')
for elem in elements:
    print (elem)

foo
bar
baz

In [425]:
elements = ('foo', 'bar', 'baz')
for elem in elements:
    print (elem)

foo
bar
baz

In [426]:
for count, elem in enumerate(elements): # enumerate --> assing an counter and print the values one by one
    print (count, elem)

0 foo
1 bar
2 baz

In [427]:
import os
os.getcwd()

'C:\\Users\\ntadi'

In [428]:
C:\Users\ntadi

SyntaxError: unexpected character after line continuation character (<ipython-input-428-42518323bb43>, line 1)

In [429]:
os.chdir('C:\\Users\\Subba Reddy Yeruva\\Desktop\\Python Classes\\narasim')

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\Subba Reddy Yeruva\\Desktop\\Python Classes\\narasim'

In [430]:
import arithmaticop

ModuleNotFoundError: No module named 'arithmaticop'

In [433]:
try:
    num1 = int(input("please enter the num1:"))
    num2 = int(input("please enter the num2:"))
    division = num1/num2
except:
    print ("Please enter numbers. Make sure the denominator is non-zero")
else:
    print (division)

please enter the num1:0
please enter the num2:2
0.0

In [436]:
try:
    num1=int(input('enter the num1'))
    num2=int(input('enter num2'))
    division=num1/num2
except(ValueError,ZeroDivisionError):
    print('plz enter non zero denominator values')
else:
    print(division)

enter the num12
enter num20
plz enter non zero denominator values

In [437]:
try:
    num1 = int(input("please enter the num1:"))
    num2 = int(input("please enter the num2:"))
    div = num1/num2
except ValueError:
    print ("please enter the numbers.")
except ZeroDivisionError:
    print ("Make sure the denominator is non-zero")
else:
    print (div)

please enter the num1:2
please enter the num2:2
1.0

In [442]:
try:
    num1 =int(input('please enter the num1:'))
    num2=int(input('please enter the num2:'))
    div=num1/num2
except ValueError:
    print("pleae enter the numbers.")
except ZeroDivisionError:
    print('please enter denominator is nonzero elements')
else:
    print(div)

please enter the num1:2
please enter the num2:2
1.0

list comprehensen

In [543]:
l=[]
for i in range(1,10):
    a=i*i+1
    l.append(a)
print(l)

[2, 5, 10, 17, 26, 37, 50, 65, 82]

In [547]:
q=[i*i+1  for i in  range(1,10) ]

In [548]:
q

[2, 5, 10, 17, 26, 37, 50, 65, 82]

In [549]:
import math as m

In [551]:
l=[m.sqrt(i) for i in range (2,20,2)]

In [552]:
l

[1.4142135623730951,
 2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795,
 3.4641016151377544,
 3.7416573867739413,
 4.0,
 4.242640687119285]

In [553]:
l = [34, 56, 78, 59, 33, 12, 98]
l1 = []
for i in l:
    if i < 50:
        l1.append(i)
l1

[34, 33, 12]

In [554]:
ll=[i**i for i in range(1,10) if i%2 !=0]

In [555]:
ll

[1, 27, 3125, 823543, 387420489]

In [558]:
l=[m.sin(x) for x in range(1,10) if m.sin(x)>0]

In [559]:
l

[0.8414709848078965,
 0.9092974268256817,
 0.1411200080598672,
 0.6569865987187891,
 0.9893582466233818,
 0.4121184852417566]

In [560]:
temps = [32, 45, 33, 41, 28, 39, 35]
def to_fahrenheit(t):
    return t*(9/5.0) + 32

l = []
for i in temps:
    a = i*(9/5.0) + 32
    l.append(a)
l

[89.6, 113.0, 91.4, 105.8, 82.4, 102.2, 95.0]

In [565]:
temp=[12,23,34,45]
def to_fahrenheit(t):
    return t*(9/5)+32
l=[]
for i in temp:
    a=i*(9/5)+32
    l.append(a)

In [566]:
l

[53.6, 73.4, 93.2, 113.0]

In [567]:
k=[to_fahrenheit(t) for t in temp]

In [568]:
k

[53.6, 73.4, 93.2, 113.0]

In [569]:
k=[l for l in k if l<90]

In [570]:
k

[53.6, 73.4]

In [574]:
l2 = list(filter(lambda x: x < 90, l))

TypeError: 'dict_items' object is not callable

In [575]:
cartesian = [(x, y) for x in ['a', 'b'] for y in ['p', 'q']]
cartesian

[('a', 'p'), ('a', 'q'), ('b', 'p'), ('b', 'q')]

In [576]:
for x in ['a','b']:
    for y in ['b','c']:
        print(x,y)

a b
a c
b b
b c

In [579]:
y=20
x=10 if y<20 else 30

In [580]:
x,y

(30, 20)

In [588]:
gen = tuple((i for i in range(11, 21)))

In [582]:
gen

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [583]:
gen=(i for i in range(11,21 )

SyntaxError: unexpected EOF while parsing (<ipython-input-583-ce6fd340f661>, line 1)

In [584]:
gen.throw

AttributeError: 'tuple' object has no attribute 'throw'

In [589]:
next(gen,None)

TypeError: 'tuple' object is not an iterator

In [590]:
nums={x for x in range (10)}

In [591]:
nums

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [594]:
l1 = [3,   4,   5,   7,   1,2]   # 7
l2 = ["Q", "P", "A", "Z", "T"]  #5

len1 = len(l1)
len2 = len(l2)

if len1 == len2:
    a = list(zip(l1, l2))
else:
    print("no zip operartion")

no zip operartion

In [595]:
a

113.0

In [596]:
for x, y in zip(l1, l2):
    print (x, y)

3 Q
4 P
5 A
7 Z
1 T

In [602]:
l = ["Q", "P", "A", "Z", "T"]
i = 0
for val in l:
    print (i, ":", val)
    i += 1

0 : Q
1 : P
2 : A
3 : Z
4 : T

In [604]:
for idx, val in enumerate(l, start=1):
    print (idx, "->", val)

1 -> Q
2 -> P
3 -> A
4 -> Z
5 -> T

In [605]:
keys = [x for x in range(1, 6)]
values = ['one', 'Two', 'Three', 'Four', 'Five']
d = {k: v for k, v in zip(keys, values)}

In [606]:
d

{1: 'one', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [607]:
n=zip(keys,values)

In [608]:
n

In [617]:
# setting default value 0 for all keys
keys = ['Orange', 'Apple', 'Peach', 'Banana', 'Grape']
d = {k: k for k in keys}

In [618]:
d

{'Orange': 'Orange',
 'Apple': 'Apple',
 'Peach': 'Peach',
 'Banana': 'Banana',
 'Grape': 'Grape'}

In [619]:
d = dict(zip(keys, values))

In [620]:
d

{'Orange': 'one',
 'Apple': 'Two',
 'Peach': 'Three',
 'Banana': 'Four',
 'Grape': 'Five'}

In [621]:
n=zip(keys,values)

In [622]:
n

In [623]:
type(n)

zip

In [624]:
print(tuple(n))

(('Orange', 'one'), ('Apple', 'Two'), ('Peach', 'Three'), ('Banana', 'Four'), ('Grape', 'Five'))

In [626]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

def farenheit_to_celcius(f):
    c = (f-32.0)/(9.0/5.0)
    return c

temps_celicius = []

for t in temps_farenheit:
    temps_celicius.append(farenheit_to_celcius(t))

print (temps_celicius)

[7.222222222222222, 19.444444444444443, 31.666666666666664, 22.77777777777778, 7.222222222222222, 31.666666666666664, 45.0]

In [630]:
temp=[12,234,34,56,38]
def farenheit_to_celcius(f):
    c=(f-32)/(9/5)
    return c
temp_cel=[]
for t in temp:
    temp_cel.append(farenheit_to_celcius(t))
print(temp_cel)

[-11.11111111111111, 112.22222222222221, 1.1111111111111112, 13.333333333333332, 3.333333333333333]

In [632]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

def farenheit_to_celcius(f):
    c = (f-32.0)/(9.0/5.0)
    return c

temps_celcius = tuple(map(farenheit_to_celcius, temps_farenheit))
print (temps_celcius)

(7.222222222222222, 19.444444444444443, 31.666666666666664, 22.77777777777778, 7.222222222222222, 31.666666666666664, 45.0)

In [636]:
print (temps_celcius)

def less_than_31(t):
    return True if t > 31.0 else False

l = filter(less_than_31, temps_celcius)
print (tuple(l))

(7.222222222222222, 19.444444444444443, 31.666666666666664, 22.77777777777778, 7.222222222222222, 31.666666666666664, 45.0)
(31.666666666666664, 31.666666666666664, 45.0)

In [639]:
k=tuple(l)

In [641]:
l = [(10, 3), (9, 20), (5, 7)]
sorted(l)

[(5, 7), (9, 20), (10, 3)]

In [643]:
sorted(l, key=lambda t: t[1])

[(10, 3), (5, 7), (9, 20)]

In [645]:
f = lambda x: x*x
f(7)

49

In [652]:
temps_farenheit = [45, 67, 89, 73, 45, 89, 113]

# [farenheit_to_celcius(t) for t in temps_farenheit]

temps_celcius = map(lambda t: (t-32.0)/(9.0/5.0), temps_farenheit)
print (tuple(temps_celcius))

# [t for t in temps_celcius if t > 31.0]

f = lambda t: True if t > 31.0 else False

vals = filter(f, temps_celcius)
print (tuple(vals))
f(32)

(7.222222222222222, 19.444444444444443, 31.666666666666664, 22.77777777777778, 7.222222222222222, 31.666666666666664, 45.0)
()

True

In [655]:
cum_sum = reduce(lambda x, y: x + y, [5, 6, 7, 8, 9, 1])
print (cum_sum)

NameError: name 'reduceBy' is not defined

In [656]:
pwd

'C:\\Users\\ntadi'

In [660]:
f=open('nani.txt' ,'r')

In [658]:
f

In [661]:
import os
os.getcwd()

'C:\\Users\\ntadi'

In [662]:
f = open('nani.txt')

In [663]:
print (type(f))
print (f)

<class '_io.TextIOWrapper'>
<_io.TextIOWrapper name='nani.txt' mode='r' encoding='cp1252'>

In [664]:
print (help(f.read))

Help on built-in function read:

read(size=-1, /) method of _io.TextIOWrapper instance
    Read at most n characters from stream.

    Read from underlying buffer until we have n characters or we hit EOF.
    If n is negative or omitted, read until EOF.

None

In [665]:
print (f.read(6))

naraya

In [669]:
print (f.read())

In [667]:
print (f.tell())

19

In [668]:
print(f.read())

In [675]:
f.seek(0)
my_strings = f.readlines()

In [676]:
my_strings

[]

In [677]:
g = open('nani.txt','w')

In [678]:
g

In [679]:
g.write('this is my 6th session of python programming learning sessions \n i got lot of doubts to explain')

95

In [680]:
help(g.flush)

Help on built-in function flush:

flush() method of _io.TextIOWrapper instance
    Flush write buffers, if applicable.

    This is not implemented for read-only and non-blocking streams.

In [681]:
g

In [682]:
help(g.close())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [683]:
g.close()

In [684]:
print (help(f.tell))

Help on built-in function tell:

tell() method of _io.TextIOWrapper instance
    Return current stream position.

None

In [685]:
print (g.closed)

True

In [686]:
g.write("hey i am writing into the file.")

ValueError: I/O operation on closed file.

In [687]:
g=open('nani','w')

In [688]:
g.write('hey i am writing into the file')

30

In [689]:
g.close()

In [690]:
print(g.closed)

True

In [691]:
g.write("hey")

ValueError: I/O operation on closed file.

In [ ]:
try:
    g.write("hey i am writing into the file.")
except ValueError:
    print ("Sorry!! the files is closed.")
else:
    g.write("hey i am writing into the file.")
finally:
    g.close()

In [692]:
try:
    g.write('hey')
except ValueError:
    print("Sorry the file is closed")
else:
    print('hey i am writing')
finally:
    g.close()

Sorry the file is closed

In [704]:

import re
my_sentence1 = "python is a great language."
my_sentence2 = "one of the great lanaguages is python ."

print (re.match('python',my_sentence1))
print (re.match('python',my_sentence2))

print (re.search('python',my_sentence1))
print (re.search('python',my_sentence2))

<re.Match object; span=(0, 6), match='python'>
None
<re.Match object; span=(0, 6), match='python'>
<re.Match object; span=(31, 37), match='python'>

In [705]:
import re
my_log = 'Sep 29 08:50:45 krypto NetworkManager[975]: <info>   address 192.168.42.151'
m = re.search('krypto',my_log,re.I)
#print (dir(m))

print ((m.start(),m.end()))
print ((my_log[:m.start()] +  my_log[m.end():]))

(16, 22)
Sep 29 08:50:45  NetworkManager[975]: <info>   address 192.168.42.151

In [706]:
my_log = '''
Sep 29 08:50:45 krypto dhclient: bound to 192.168.42.151 -- renewal in 1253 seconds.
Sep 29 08:50:45 krypto NetworkManager[975]: <info> (usb0): DHCPv4 state changed bound -> renew
Sep 29 08:50:45 krypto NetworkManager[975]: <info>   address 192.168.42.151
Sep 29 08:50:45 krypto NetworkManager[975]: <info>   prefix 24 (255.255.255.0)
Sep 29 08:50:45 krypto NetworkManager[975]: <info>   gateway 192.168.42.129
Sep 29 08:50:45 krypto NetworkManager[975]: <info>   hostname 'key2gyaan'
Sep 29 08:50:45 krypto NetworkManager[975]: <info>   nameserver '192.168.42.129'
Sep 29 08:50:45 krypto dbus[599]: [system] Activating service name='org.freedesktop.nm_dispatcher' (using servicehelper)
Sep 29 08:50:45 krypto dbus[599]: [system] Successfully activated service 'org.freedesktop.nm_dispatcher'
Sep 29 08:51:39 krypto kernel: [ 3820.630486] usb 2-1: USB disconnect, device number 6
'''

my_list = my_log.split('\n')

print(my_list)

['', 'Sep 29 08:50:45 krypto dhclient: bound to 192.168.42.151 -- renewal in 1253 seconds.', 'Sep 29 08:50:45 krypto NetworkManager[975]: <info> (usb0): DHCPv4 state changed bound -> renew', 'Sep 29 08:50:45 krypto NetworkManager[975]: <info>   address 192.168.42.151', 'Sep 29 08:50:45 krypto NetworkManager[975]: <info>   prefix 24 (255.255.255.0)', 'Sep 29 08:50:45 krypto NetworkManager[975]: <info>   gateway 192.168.42.129', "Sep 29 08:50:45 krypto NetworkManager[975]: <info>   hostname 'key2gyaan'", "Sep 29 08:50:45 krypto NetworkManager[975]: <info>   nameserver '192.168.42.129'", "Sep 29 08:50:45 krypto dbus[599]: [system] Activating service name='org.freedesktop.nm_dispatcher' (using servicehelper)", "Sep 29 08:50:45 krypto dbus[599]: [system] Successfully activated service 'org.freedesktop.nm_dispatcher'", 'Sep 29 08:51:39 krypto kernel: [ 3820.630486] usb 2-1: USB disconnect, device number 6', '']

In [707]:
for value in my_list:
    if re.search('krypto',value,re.I):
        m = re.search('krypto',value,re.I)
        print ((value[:m.start()] +  value[m.end():]))

Sep 29 08:50:45  dhclient: bound to 192.168.42.151 -- renewal in 1253 seconds.
Sep 29 08:50:45  NetworkManager[975]: <info> (usb0): DHCPv4 state changed bound -> renew
Sep 29 08:50:45  NetworkManager[975]: <info>   address 192.168.42.151
Sep 29 08:50:45  NetworkManager[975]: <info>   prefix 24 (255.255.255.0)
Sep 29 08:50:45  NetworkManager[975]: <info>   gateway 192.168.42.129
Sep 29 08:50:45  NetworkManager[975]: <info>   hostname 'key2gyaan'
Sep 29 08:50:45  NetworkManager[975]: <info>   nameserver '192.168.42.129'
Sep 29 08:50:45  dbus[599]: [system] Activating service name='org.freedesktop.nm_dispatcher' (using servicehelper)
Sep 29 08:50:45  dbus[599]: [system] Successfully activated service 'org.freedesktop.nm_dispatcher'
Sep 29 08:51:39  kernel: [ 3820.630486] usb 2-1: USB disconnect, device number 6

In [718]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [739]:
s='  Narayana  '
len(s)
#getattribute(s)

12

In [733]:
s.capitalize()

'Narayana'

In [734]:
s.swapcase()

'nARAYANA'

In [735]:
import logging
logging.debug("This is a debug message")
logging.info("This is an information message")
logging.warning("This is an warning message")
logging.error("This is an error message")
logging.critical("This is an critical message")

WARNING:root:This is an warning message
ERROR:root:This is an error message
CRITICAL:root:This is an critical message

In [741]:
s.rstrip()

'  Narayana'

In [743]:
dir(open)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [753]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)
num=int(input('enter the number '))
fact(num)

enter the number 5

120

In [780]:
def fact (n):
    if n==1:
        return 1
    else :
        return n*fact(n-1)
fact(5)

120

In [765]:
w= lambda x,y,z: x+y+z
print('sum of {},{} and {}is {}'.format(1,2,3,s(1,2,3)))

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [768]:
w= lambda x,y:x if x>y else b

In [771]:
print('which is greater number{} is {},{}'.format(3,4,w(3,4)))

which is greater number3 is 4,NARAYANAREDDY

In [772]:
a1=lambda x,y:x if x>y else y

In [773]:
a1(3,4)

4

In [781]:
l=[1,2,3,4,5]
k=tuple(filter(fact,l))

In [782]:
k

(1, 2, 3, 4, 5)

In [783]:
def squar(x):
    return x*x

In [784]:
k=tuple(filter(squar,l))

In [785]:
k

(1, 2, 3, 4, 5)

In [786]:
def iseven(x):
    if x%2==0:
        return True
    else:
        return False

In [790]:
k=tuple(filter(m1,l))

In [791]:
k

(2, 3)

In [789]:
def m1(x):
    if x>1 and x<4:
        return True
    else:
        return False

In [795]:
k=tuple((filter(lambda x: x%2 !=0 ,l)))

In [796]:
k

(1, 3, 5)

In [139]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [140]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']